[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
coverage = "*"
pytest-cov = "*"
responses = "*"
pytest-dotenv = "*"
pytest-mock = "*"
factory-boy = "*"
alchemy-mock = "*"

[packages]
flask = "*"
pydantic = "*"
gunicorn = "*"
gevent = "*"
blinker = "*"
python-decouple = "*"
psycopg2-binary = "*"
schedule = "*"
flask_sqlalchemy = "*"
alembic = "*"
ujson = "*"
supervisor = "*"

[requires]
python_version = "3.8"
